<launch>
    <!--<node pkg="tf" type="static_transform_publisher" name="o3m151_broadcaster" args="1 0 0 0 0 0 1 map o3m151 100" />-->

    <!--<arg name="pcap" default="$(find o3m151_driver)/records/tree_from_2_70m_to_10m000"/>-->
    <!--<arg name="pcap" default="$(find o3m151_driver)/records/white_wall_01000"/>-->
    <!--<arg name="pcap" default="$(find o3m151_driver)/records/wall_4_5m000" />-->
    <arg name="pcap" default="" />
    <node pkg="o3m151_driver" type="o3m151_node" name="o3m151_node" output="screen">
        <param name="pcap" value="$(arg pcap)"/>
    </node>
</launch>
